@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.bg-blog {
    background-color: rgb(240, 240, 240);
}

.card-title {
    font-size: 13px;
    color: gray;
}

.card-text1 {
    font-size: 20px;
    font-weight: 800;
}

.profile {
    height: 30px;
    width: 30px;
    padding: 2px;
    border-radius: 16px;
}

.profile-name {
    font-size: 12px;
    font-weight: bold;
    color: blue;
}

.subheading {
    font-size: 13px;
    color: gray;
}